<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Book Store Template, Free CSS Template, TemplateMo.com</title>
<meta name="keywords" content="Book Store Template, Free CSS Template, CSS Website Layout, CSS, HTML, TemplateMo.com" />
<meta name="description" content="Book Store Template, Free CSS Template, Download CSS Website from TemplateMo.com" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a href="index.html">Home</a></li>
    	</ul>
    </div> <!-- end of menu -->
    
    <div id="templatemo_header">
    	<div id="templatemo_special_offers">
        	<p>
                <span>25%</span> discounts for
        purchase over $ 40
        	</p>
			<a href="#" style="margin-left: 50px;">Read more...</a>
        </div>
        
        
        <div id="templatemo_new_books">
        	<ul>
                <li>Suspen disse</li>
                <li>Maece nas metus</li>
                <li>In sed risus ac feli</li>
            </ul>
            <a href="#" style="margin-left: 50px;">Read more...</a>
        </div>
    </div> <!-- end of header -->
    
    <div id="templatemo_content">
     
        <form action="" method="post" enctype="multipart/form-data">
            <div class="group">
                <label for="">Title</label><br>
                <input type="text" name="title" placeholder="Title">
            </div>

            <div class="group">
                    <label for="">Category</label><br>
                    <select name="" id="">
                        <option value="">-- Choose --</option>
                        <option value="">Show</option>
                        
                    </select>
            </div>
            
            <div class="group">
                    <label for="">Author</label><br>
                    <input type="text" name="title" placeholder="Author">
            </div>
            <div class="group">
                    <label for="">Description</label><br>
                    <textarea name="description" id="" placeholder="Description" cols="30" rows="10"></textarea>
            </div>
            <div class="group">
                    <label for="">Image</label><br>
                    <input type="file" name="file">
            </div>
            
            <div class="group">
                    <label for="">Link</label><br>
                    <input type="text" name="file" placeholder="Link">
            </div>
            
            <div class="group">
                    <label for="">Featured</label><br>
                    <select name="" id="">
                        <option value="1">Show</option>
                        <option value="0">Hide</option>
                    </select>
            </div>
            <div class="group">
                <button type="submit">Post Book</button>
                <button type="reset">Clear</button>
            </div>

        </form>
       
       
    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    <div id="templatemo_footer">
	       <a href="index.html">Home</a> | <a href="index.html">Search</a> | <a href="index.html">Books</a> | <a href="#">New Releases</a> | <a href="#">FAQs</a> | <a href="#">Contact Us</a><br />
        Copyright © 2048 <a href="#"><strong>Your Company Name</strong></a> | <a href="http://www.iwebsitetemplate.com" target="_parent">Website Templates</a> by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
	</div> <!-- end of footer -->
<!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->
<div align=center>This template  downloaded form <a href='http://all-free-download.com/free-website-templates/'>free website templates</a></div></body>
</html>